:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --filter-border-color: #d9d9d9;
}
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }
  .hebergements-card .card-title {
    font-size: 14px;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  .activity-cards img {
    height: 200px;
  }

  .activity-cards .card-title {
    font-size: 14px;
  }
  .activity-cards .card {
    height: 260px;
  }
  .activity-cards .card-txt {
    padding-top: 5px;
  }
  .footer-items h3 {
    font-size: 16px;
  }
  .footer-items p {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /****** General ***********/
  body {
    margin: 0px;
    padding: 0px;
  }
  header {
    margin-top: 8px;
  }
  .introduction,
  .filter,
  .info-btn,
  .activity {
    padding: 0 20px;
  }
  .introduction-title {
    font-size: 22px;
  }
  .introduction-txt {
    font-size: 16px;
  }
  /****** Header ***********/
  .navbar {
    flex-direction: column;
    justify-content: center;
  }
  .navbar a {
    padding-top: 0px;
  }

  .navbar .navbar-liens {
    gap: 0px;
  }
  .navbar-liens li {
    width: 200px;
    text-align: center;
    padding-bottom: 16px;
    border-bottom: solid 2px var(--main-bg-color);
  }
  .navbar-liens li:hover {
    border-bottom: solid 2px var(--main-color);
  }
  .navbar-liens a:hover {
    border-top: none;
  }
  /****** Search-Bar ***********/
  .search_bar {
    position: relative;
    width: 90%; /*Ne s'adapte plus aux enfants*/
    margin-left: 20px;
  }
  .search_bar .fa-solid {
    font-size: small;
  }
  .search_bar input[type="search"] {
    width: 100%; /*Permet d'étendre la barre de recherche au maximum de la place disponible*/
  }
  .search_bar input::placeholder {
    font-size: 18px;
  }
  .search_bar button[type="submit"]::before {
    content: "";
  }
  .search_bar button[type="submit"] .fa-solid {
    display: inline-block;
    color: white;
    background-color: var(--main-color);
    border-radius: 11px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.37);
    padding: 17px;
    position: absolute;
    top: -1px;
    right: -8px;
  }
  /****** Filter ***********/
  .filter {
    display: block;
  }
  .filter-list p {
    font-size: 14px;
  }
  .filter .filter-list {
    flex-wrap: wrap;
    gap: 8px;
    padding: 0;
  }
  .filter .filter-item {
    width: 47%;
    padding: 0 16px;
    box-sizing: border-box;
  }
  /****** Information-btn ***********/
  .info-btn {
    justify-content: space-between;
    margin-bottom: 0px;
  }

  .info-btn .fa-info {
    font-size: x-small;
    width: 25px; /*Evite que le cercle soit elliptique*/
  }
  /****** Hebergements And Populaires ***********/
  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }
  .hebergements-and-populaires .populaires {
    margin-top: 0px;
    border-radius: 0px;
  }
  /****** Populaires ***********/
  .populaires {
    background-color: var(--main-bg-color);
  }
  .populaires .populaires-cards {
    flex-direction: column;
  }
  .populaires-cards a {
    width: 100%;
  }
  /****** Hebergements ***********/
  .hebergements-and-populaires .hebergements {
    background-color: white;
  }
  .hebergements-card a {
    width: 100%;
  }
  /****** Activités ***********/
  .activity .section-title {
    margin-top: 0px;
  }
  .activity .activity-cards {
    flex-direction: column;
  }
  .activity-cards a {
    width: 100%;
    height: 275px;
  }
  /****** Footer ***********/
  footer {
    margin-bottom: 0px;
  }
  footer .footer-items {
    flex-direction: column;
  }
}
