/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --filter-border-color: #d9d9d9;
}

.fa-solid {
  color: var(--main-color);
}
/*Centrage du site*/
body {
  margin: auto;
  max-width: 1440px;
  box-sizing: border-box;
  padding: 0 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}
/****** Header ***********/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .navbar-logo {
  height: 24px;
  width: 70px;
}
.navbar .navbar-liens {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0px; /*Enlève le padding de base avec les liste*/
  gap: 40px;
}
.navbar a {
  padding-top: 13px;
  transition: all 100ms;
}
.navbar-liens a:hover {
  border-top: solid 3px var(--main-color);
  color: var(--main-color);
}

/****** Search-Bar ***********/
.search_bar {
  display: flex;
  align-items: center, stretch;
  width: max-content; /*Adpate la taille du parent à celle de ses enfants. Donc épouse parfaitement les enfants*/

  border: solid 1px var(--main-bg-color);
  border-radius: 15px;
  margin-bottom: 33px;
}
.search_bar #search_bar-location {
  color: black;
  background-color: var(--main-bg-color);
  padding: 16px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}
.search_bar input[type="search"] {
  border: none;
  outline: none;
  font-weight: bold;
  padding-left: 16px;
}
.search_bar input::placeholder {
  color: black;
  font-weight: bolder;
}
.search_bar button[type="submit"] {
  background-color: var(--main-color);
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding: 16px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}
.search_bar button[type="submit"]::before {
  content: "Rechercher";
}
.search_bar button[type="submit"] .fa-solid {
  display: none;
}
/****** Filter ***********/
.filter {
  display: flex;
  align-items: center;
}
.filter p {
  font-weight: bold;
}
.filter .filter-list {
  display: flex;
  list-style: none;
  gap: 32px;
}
.filter-list .filter-item {
  display: flex;
  align-items: center;
  gap: 4px;
  border: solid 2px var(--filter-border-color);
  border-radius: 25px;
  padding-left: 18px;
  padding-right: 18px;
  cursor: pointer;
  transition: background-color 300ms;
}
.filter-item:hover {
  background-color: var(--filter-bg-color);
}
.filter-item p {
  padding-left: 4px;
}

/****** Information-btn ***********/
.info-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 33px;
}
.info-btn .fa-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  /*Design du conteneur : sphérique*/
  border: solid 1px var(--filter-border-color);
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}
.hebergements .cta {
  cursor: pointer;
}
.hebergements-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 33px;
}
.hebergements-card a {
  width: 30%; /*Fixe la largeur des cartes en pourcentage*/
}
.hebergements-card .card {
  margin-top: 33px;
}

.hebergements-card img {
  height: 105px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.hebergements-card .card-content {
  padding-left: 15px;
  box-sizing: border-box;
}
.hebergements-card .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}
.hebergements-card .card-subtitle {
  margin: 0;
}
.hebergements-card .card-rating {
  margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}
/****** Activités ***********/
.activity .section-title {
  margin-top: 33px;
}
.activity .activity-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 33px;
}
.activity-cards .card {
  padding: 0;
}
.activity-cards a {
  width: 23%; /*Fixe la largeur des cartes en pourcentage*/
}
.activity-cards img {
  height: 400px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.activity-cards .card-title {
  padding-left: 15px;
  padding-bottom: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}
/****** Footer ***********/
footer {
  background-color: var(--main-bg-color);
  margin-top: 60px;
  margin-bottom: 60px;
}
footer .footer-items {
  display: flex;
  justify-content: space-between;
  width: 75%;
  padding-left: 30px;
}
