/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*outline: solid 1px red;*/
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --filter-border-color: #d9d9d9;
}

.fa-solid {
  color: var(--main-color);
}
/*Centrage du site*/
body {
  margin: auto;
  max-width: 1440px;
  box-sizing: border-box;
  padding: 0 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 1.4rem;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 1rem;
  font-weight: 700;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}
/****** Header ***********/
header {
  margin-top: 1.75rem;
  margin-bottom: 1.875rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .navbar-logo {
  height: 19px;
  width: 61.09px;
}
.navbar .navbar-liens {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 4.25rem;
}
.navbar a {
  padding-top: 1.75rem;
  transition: all 100ms;
  font-size: 1rem;
}
.navbar-liens a:hover {
  border-top: solid 3px var(--main-color);
  color: var(--main-color);
}
/****** Introduction ***********/
.introduction .introduction-title {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.introduction .introduction-txt {
  font-size: 1rem;
  margin-bottom: 2.18rem;
}
/****** Search-Bar ***********/
.search_bar {
  display: flex;
  align-items: center, stretch;
  width: max-content; /*Adpate la taille du parent à celle de ses enfants. Donc épouse parfaitement les enfants*/

  border: solid 1px var(--main-bg-color);
  border-radius: 15px;
  margin-bottom: 2.18rem;
}
.search_bar #search_bar-location {
  color: black;
  background-color: var(--main-bg-color);
  padding: 18px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}
.search_bar input[type="search"] {
  border: none;
  outline: none;
  font-weight: bold;
  padding-left: 16px;
  font-size: 1.1rem;
}
.search_bar input::placeholder {
  color: black;
  font-weight: bolder;
  padding: 0.875rem 1.5rem;
}
.search_bar button[type="submit"] {
  background-color: var(--main-color);
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding: 0.875rem 1rem;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  font-size: 1.1rem;
}
.search_bar button[type="submit"]::before {
  content: "Rechercher";
}
.search_bar button[type="submit"] .fa-solid {
  display: none;
}
/****** Filter ***********/
.filter {
  display: flex;
  align-items: center;
  margin-bottom: 2.18rem;
}
.filter p {
  font-weight: bold;
  margin-right: 0.93rem;
  font-size: 1.1rem;
}
.filter .filter-list {
  display: flex;
  list-style: none;
  gap: 0.93rem;
}
.filter-list .filter-item {
  display: flex;
  align-items: center;
  border: solid 2px var(--filter-border-color);
  border-radius: 25px;
  padding: 0.93rem 1.18rem 1.05rem 1.18em;
  cursor: pointer;
  transition: background-color 300ms;
}
.filter-item .fa-solid {
  font-size: 1.2rem;
}
.filter-item:hover {
  background-color: var(--filter-bg-color);
}
.filter-item p {
  padding-left: 0.5rem;
  font-size: 1rem;
}

/****** Information-btn ***********/
.info-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2.18rem;
}
.info-btn .fa-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  /*Design du conteneur : sphérique*/
  border: solid 1px var(--filter-border-color);
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
.info-btn .info-btn-txt {
  font-size: 1rem;
  margin-left: 0.625rem;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}
.hebergements .cta {
  cursor: pointer;
}
.hebergements-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.hebergements-card a {
  width: 30%; /*Fixe la largeur des cartes en pourcentage*/
}
.hebergements-card .card {
  margin-top: 1.87rem;
}

.hebergements-card img {
  height: 105px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.hebergements-card .card-content {
  padding-left: 0.93rem;
}
.hebergements-card .card-title {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}
.hebergements-card .card-subtitle {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.hebergements-card .card-rating {
  margin-bottom: 0.5rem;
}
.cta {
  font-size: 1.1rem;
}
/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 2rem;
}

.populaires-cards img {
  width: 33%;
  height: 120px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.populaires-cards .card-subtitle {
  margin: 0;
  font-size: 0.9rem;
}

.populaires-cards .card-rating {
  margin-bottom: 0.25rem;
}
/****** Activités ***********/
.activity {
  margin-left: 1.875rem;
}
.activity .section-title {
  margin-bottom: 1.875rem;
}
.activity .activity-cards {
  display: flex;
  justify-content: space-between;
  padding-right: 1.875rem;
  margin-bottom: 4.06rem;
}
.activity-cards .card {
  padding: 0;
}
.activity-cards a {
  width: 23%; /*Fixe la largeur des cartes en pourcentage*/
}
.activity-cards img {
  height: 400px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.activity-cards .card-title {
  padding: 1rem 0 1rem 0.5rem;
}
/****** Footer ***********/
footer {
  background-color: var(--main-bg-color);
}
footer .footer-items {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 1.25rem 0rem 1.25rem 1.25rem;
  line-height: 2em;
}
.footer-items .footer-title {
  font-size: 1.1rem;
}
.footer-title p {
  font-size: 1rem;
}
